.footer
  .footer-menu
    a.footer-menu__item(href='#') О сервисе
    a.footer-menu__item(href='#') Услуги
    a.footer-menu__item(href='#') Каталог вакансий
    a.footer-menu__item(href='#') Помощь
    a.footer-menu__item(href='#') Обратная связь
  .social
    a(href='#')
    a(href='#')
    a(href='#')
    a(href='#')
