head
  meta(charset='utf-8')
  title Мой круг
  link(href='main.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=cyrillic,latin', rel='stylesheet', type='text/css')
