.partners
  a.partners__item(href='#') TM Feed
  a.partners__item(href='#') Хабрахабр
  a.partners__item(href='#') Мегамозг
  a.partners__item(href='#') Geektimes
  a.partners__item(href='#') Тостер
  a.partners__item.partners__item--active(href='#') Мой круг
  a.partners__item(href='#') Фрилансим
